<!-- guest.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Guest</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/guest.css') }}">
</head>
<body>
    <div class="player-container">
        <h1>🎵 Guest Music Player</h1>

        <audio id="player" controls></audio>

        <div class="file-section">
            <h2>Available Tracks</h2>
            <ul id="availableFiles" class="file-list"></ul>
        </div>
    </div>

    <script src="https://cdn.socket.io/4.8.1/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='js/guest_networking.js') }}"></script>
    <script src="{{ url_for('static', filename='js/guest_ui.js') }}"></script>

</body>
</html>
