<!-- host.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Host - P2P Music Share</title>
</head>
<body>
    <fieldset>
        <legend>Click here and select all your musics !</legend>
        <h2>Host: Share Your Music</h2>
        <input type="file" id="music" accept="audio/*" multiple>    
    </fieldset>

    <fieldset>
        <legend>If someone is streaming, your uploaded files are listed there !</legend>
         <ul id="fileList"></ul>
    </fieldset>

    <fieldset>
        <legend>
            Access the room
        </legend>
        <h2><b>ROOM ID : {{room_id}}</b></h2>

        <img id="host_qr" src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=https://{{server_ip}}:{{server_port}}/host/{{room_id}}" alt="">
        <label for="host_qr">Scan or share the link to share your music files. (you are already here)</label>
        <a href="/host/{{room_id}}">Share music files</a>
        <img id="guest_qr" alt="">
        <label for="guest_qr">Scan this or click the link to stream the music files.</label>
        <a href="/guest/{{room_id}}">Stream music files</a>

    </fieldset>
    <script src="https://cdn.socket.io/4.8.1/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='js/host_networking.js') }}"></script>
    <script>window.ROOM_ID = "{{room_id}}"</script>
    <script src="{{ url_for('static', filename='js/host_ui.js') }}"></script>

</body>
</html>
