<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <title>SketchyMusicShare - P2P Music Sharing</title>
</head>
<body>
    <fieldset>
        <legend>SketchyMusicShare - P2P Music Sharing</legend>
        <a href="/create_room">Create sharing room</a>
        <button onclick="prompt_and_join_room(true)">Join room as an Host</button>
        <button onclick="prompt_and_join_room(false)">Stream music from a room</button>
    </fieldset>

</body>
</html>